<h1>Hi, <%= @user.username %></h1>

<h2>Score: <%= @user.score %></h2>

<h2>Your Wordy Gurdys</h2>
<% @user.puzzles.each do |p| %>
    <div class = "well tan">
        <h3><%= p.clue %></h3>
        <h4>This Wordy Gurdy has been solved <%= p.score %> time(s) </h4>
        <%= link_to "", p, method: :delete, data: {confirm: "Are you sure you want to delete this clue?"}, class: "btn btn-danger glyphicon glyphicon-remove" %>
        <%= link_to "", edit_puzzle_path(p), class: "btn btn-success glyphicon glyphicon-pencil" %>
    </div>
<% end %>
