
<div class="col-md-6 col-md-offset-3">
<h1>Add a WordyGurdy</h1>
<div class="form-group">
        <%= form_for @puzzle do |f| %>
            <%= f.label :clue %>
            <%= f.text_field :clue, class: "form-control" %>
            <br/>
            <%= f.label :answer %>
            <%= f.text_field :answer, class: "form-control" %>
            <br/>
            <div class="text-center">
            <%= f.submit "Add your WordyGurdy", class: "btn btn-default" %>
            </div>
        <% end %>
</div>
</div>
